.container {
	background-color: #63E1CC;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#63e1cc+0,41c1b7+100 */
	background: #63e1cc; /* Old browsers */
	background: -moz-linear-gradient(top, #63e1cc 0%, #41c1b7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #63e1cc 0%,#41c1b7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #63e1cc 0%,#41c1b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63e1cc', endColorstr='#41c1b7',GradientType=0 ); /* IE6-9 */
	h1 {
		font-weight: lighter;
		letter-spacing: 1px;
	}
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	form {
  		display: flex;
		flex-direction: column;
  		align-items: center;
  		color: #E0F2F1;
  		padding: 20px;
  		width: 40%;
  		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#384d62+0,212e3d+100 */
		background: #384d62; /* Old browsers */
		background: -moz-linear-gradient(top, #384d62 0%, #212e3d 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #384d62 0%,#212e3d 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #384d62 0%,#212e3d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384d62', endColorstr='#212e3d',GradientType=0 ); /* IE6-9 */
		.row {
			display: flex;
			width: 100%;
		}
		.select-container {
			width: 98%;
			.mat-select {
				display: block;
			}
		}
		.one-fourth {
			flex-grow: 1;
		}
		.three-fourth {
			flex-grow: 3;
		}
		.mat-select {
			display: inherit;
		}
		.half-width {
			flex: 1;
		}
		.row-test {
			width: 600px;
		}
		.black {
			flex: 1;
			background-color: black
		}
		.red {
			flex: 3;
			background-color: red;
		}
  	}
}